exportPattern("^[[:alpha:]]+")
export(WHphase)
export(BCFcsq)
export(WHstat)
export(CSQfilter)
export(MNVR_pipeline)
import(karyoploteR)
import(tidyverse)
import(data.table)
import(parallel)
import(vcfR)
import(Rsamtools)
import(gridExtra)
